= form_tag "/search",  method: :get do
  = label :search, "Search for hotels"
  %br

  %div{ :style => "color:red" }
    = @errormessage

  %br
  = label :city, "Enter city:"
  = text_field_tag "city", ""
  %br

  = label :startDate, "Enter starting date:"
  <input type="date" name="startDate">
  %br
  = label :startingDate, "Enter end date:"
  <input type="date" name="endDate">
  %br

  %input{:type => "submit", :value => "Search" , :class => "btn btn-primary"}
