%p
  =@message
  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th Address
        %th Price per night
        %th Area (m2)
        %th Floor nr
        %th Services




    %tbody
      - @sameCityHotels.each do |hotel|
        %tr
          %td= hotel.name
          %td= hotel.address
          %td= hotel.cost
          %td= hotel.area
          %td= hotel.floor
          %td= hotel.services
